In [23]:
import pandas as pd
from numpy import sqrt

da=pd.read_csv('/knn.csv')
da

    Height  Weight Size
0      158      58    M
1      158      59    M
2      158      63    M
3      160      59    M
4      160      60    M
5      163      60    M
6      163      61    M
7      160      64    L
8      163      64    L
9      165      61    L
10     165      62    L
11     165      65    L
12     168      62    L
13     168      63    L
14     168      66    L
15     170      63    L
16     170      64    L
17     170      68    L

In [24]:
test_height=161
test_weight=61
k=3
distance = [] 
lables = []

In [25]:
for i in range(len(da)):
  d = sqrt( pow((test_height - da.Height[i]),2) + pow((test_weight - da.Weight[i]),2))
  distance.append(d)

new_dis = sorted(distance)

first5val = new_dis[0:k]

for i in first5val:
  val = distance.index(i)
  lab = da.Size[val]
  lables.append(lab)

m = 0
l = 0
prob = [m,l]
for i,j in enumerate(lables):
  if j == "L":
    l = l + first5val[i]
  else:
    m  = m + first5val[i]

# print(first5val, lables)

if m > l:
  if m > l:
   print("size M")
else:
   print("Size L")

size M